html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
   
}

#home {
    height: 100vh;
    background-image: url("/img/beautiful-sky.jpg");
    background-size: cover;
    position: relative;
}

nav {
    width: 100%;
}

img {
    width: 100%;
}

.nav-container ul {
    font-family: lobster;
    display: flex;
    text-decoration: none;
    flex-basis: 90%;
    list-style: none;
    justify-content: flex-end;
}

.nav-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 1;
}

.nav-container li {
    flex-basis: 25%;
    text-align: center;
    position: relative;
}



.logo-container {
    flex-basis: 20%;
}

.nav-anchor {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
 }


.nav-anchor:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.black:before {
    background-color: black;
}

.nav-anchor:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

#name {
    font-size: 16px;
    color: white;
    opacity: 0.6;
}

#projects {
    width: 100%;
    background-color: rgb(160, 160, 160);
    color: black;
}

#projects a {
    text-decoration: none;
}

.page-title {
    font-family: Lobster;
    position: relative;
    text-align: center;
    background-color: white;
}

video {
    width: 100%;
}

.single-project-container {
    background-color: white;
}

.single-project-container h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.single-project-container p {
    font-size: 16px;
    margin: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.black {
    color: black;
}

#contact {
    background-color: #333138;
    width: 100%;
    color: white;
    padding-top: 50px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 2px;
    padding: 1px;
    text-decoration: none;
    font-size: 1.8em;
  }

  .fa-github {
      background: #444444;
      color: white;
      text-decoration: none;
      border-radius: 2px;
      padding: 1px;
  }

#contact h1 {
    font-family: Lobster;
    color: rgb(209, 24, 70);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

#contact h4 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info p, #email {
    display: block;
    text-align: center;
    margin-right: 5px;
    font-size: 16px;
    color: white;
    padding-top: 10px;
}

.social-buttons {
    text-align: center;
    margin-right: 5px;
    padding-top: 10px;
}

.contact-info-and-image-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.zach-image-container {
    max-width: 260px;
    margin: 0 auto;
}


@media only screen and (min-width: 768px) {

    #home h1 {
        font-size: 4rem;
    }

    .nav-anchor {
        font-size: 30px;
    }

    .all-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    }

    .single-project-container {
        flex-basis: 40%;
    }

    .contact-info-and-image-container {
        display: flex;
        justify-content: center;
    }

    .contact-info p, #email {
        text-align: left;
    }

    .social-buttons {
        text-align: left;
    }

    .contact-info {
        margin-left: 20px;
    }

    .single-project-container h3 {
        font-size: 2rem;
    }

    .single-project-container p {
        font-size: 20px;
    }

    #contact h1 {
        font-size: 3rem;
    }

    #contact h4 {
        font-size: 2rem;
    }

    .contact-info p, #email {
        font-size: 25px;
    }

    .fa {
        font-size: 35px !important;
    }

    .zach-image-container {
        max-width: 260px;
        margin: inherit;
    }
}

@media only screen and (min-width: 768px) {
    .logo-container {
        flex-basis: 7%;
    }

    .zach-image-container {
        max-width: 260px;
        margin: inherit;
    }

    #name {
        font-size: 1.7rem;
    }
}
