html {
    width: 100%;
    height: 100%;
}

body {
    background-color: whitesmoke;
    color: whitesmoke;
    font-family: 'Pragati Narrow', sans-serif;
}

* {
    margin: 0;
    padding: 0;
   
}

#home {
    height: 100vh;
    background-image: url("/img/beautiful-sky.jpg");
    background-size: cover;
    position: relative;
}

nav {
    width: 100%;
}

img {
    width: 100%;
}

.nav-container ul {
    font-family: lobster;
    display: flex;
    text-decoration: none;
    flex-basis: 90%;
    list-style: none;
    justify-content: flex-end;
}

.nav-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 1;
}

.nav-container li {
    flex-basis: 20%;
    text-align: center;
    position: relative;
}



.logo-container {
    flex-basis: 20%;
}

.nav-anchor {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
 }


.nav-anchor:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-anchor .black:before {
    background-color: black;
}

.nav-anchor a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

#name {
    font-size: 10px;
    color: white;
    opacity: 0.6;
}

#projects {
    width: 100%;
    background-color: seashell;
    color: black;
}

#projects a {
    text-decoration: none;
}

.page-title {
    font-family: Lobster;
    position: relative;
    text-align: center;
}

video {
    width: 100%;
}

.single-project-container h3{
    text-align: center;
}

.single-project-container p {
    font-size: 12px;
}

.black {
    color: black;
}

#contact {
    background-color: rgb(182, 182, 201);
    width: 100%;
    color: black;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 2px;
    padding: 1px;
    text-decoration: none;
    font-size: 1.8em;
  }

  .fa-github {
      background: #444444;
      color: white;
      text-decoration: none;
      border-radius: 2px;
      padding: 1px;
  }

#contact h1 {
    font-family: Lobster;
    color: darkred;
    text-align: center;
    font-size: 2rem;
}

#contact h4 {
    text-align: center;
}

.contact-info p, #email {
    display: block;
    text-align: right;
    margin-right: 5px;
    font-size: 16px;
}

.social-buttons {
    text-align: right;
    margin-right: 5px;
}

.contact-info-and-image-container {
    display: flex;
    justify-content: space-between;
}
.contact-info-and-image-container * {
    flex-basis: 40%;
}