.title-and-tile-container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	flex-basis: 25%;
}

.title {
	flex-basis: 40%;
	font-family: 'Amatic SC', monospace;
	font-size: 3rem;
	font-weight: bold;
}

.tile-container {
	display: flex;
	flex-basis: 45%;
	justify-content: space-evenly;
	position: relative;
	z-index: 1;
}

app-tile {
	flex-basis: 23%;
}

.work-content {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	z-index: 1;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 4%;
	flex-basis: 55%;
}

app-work-tile {
	flex-basis: 28%;
	height: 100%;
}

app-border .border {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}