.border, .phone-border {
	z-index: 0;
	position: absolute;
	width: 80%;
	height: 75%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.border:after, .phone-border:after {
	z-index: 0;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-width: 2rem;
	border-image: url('/assets/v2/img/brush-stroke-banner-5.png');
	border-image-slice: 30%;
	width: 100%;
	height: 100%;
	background-size: 300% 300%;
}

.phone-border:after {
	border-width: 1rem;
}

.border.in:after ,.phone-border.in:after {
	animation: frame-enter 1.25s forwards ease-in reverse;
}

.phone-border {
	height: 88%;
	top: 53%;
	width: 85%;
}

.flex-end {
	justify-content: flex-end;
}

@keyframes frame-enter {
	0% {
		clip-path: polygon(0% 100%, 100% 100%, 2rem 2rem, calc(100% - 100%) 100%, calc(100% - 2rem) calc(100% - 2rem), 2rem calc(100% - 2rem), 2rem 100%, 100% 100%, 100% 0%, 0% 0%);
	}

	25% {
		clip-path: polygon(0% 100%, 2rem 100%, 2rem 2rem, calc(100% - 2rem) 2rem, calc(100% - 2rem) calc(100% - 2rem), calc(100% - 2rem) calc(100% - 2rem), calc(100% - 2rem) 100%, 100% 100%, 100% 0%, 0% 0%);
	}

	50% {
		clip-path: polygon(0% 100%, 2rem 100%, 2rem 2rem, calc(100% - 2rem) 2rem, calc(100% - 2rem) 2rem, calc(100% - 2rem) 2rem, calc(100% - 2rem) 2rem, calc(100% - 2rem) 2rem, 100% 0%, 0% 0%);
	}

	75% {
		-webkit-clip-path: polygon(0% 100%, 2rem 100%, 2rem 2rem, 2rem 2rem, 2rem 2rem, 2rem 2rem, 2rem 2rem, 2rem 2rem, 2rem 0%, 0% 0%);
	}

	100% {
		-webkit-clip-path: polygon(0% 100%, 2rem 100%, 2rem 100%, 2rem 100%, 2rem 100%, 2rem 100%, 2rem 100%, 2rem 100%, 2rem 100%, 0% 100%);
	}
}

    