* {
	font-family: 'IBM Plex Mono', monospace;
}

img {
	width: 70%;
}

.education-container {
	flex-basis: 75%;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1%;
}

.education-tile {
	flex-basis: 35%;
	z-index: 6;
	transform: perspective(1000px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
	transform-style: preserve-3d;
	box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
	transition: 0.4s ease-in-out transform;
	position: relative;

	&:hover {
		transform: translate3d(0px, 0px, -250px);
	}
}

.front, .back, .left, .right, .top, .bottom {
	position: absolute;
}

.front {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transform: rotateY(0deg) translateZ(50px);
	background: #fcf9f7;
	border: solid #242424 1px;
}

.back {
	transform: rotateX(180deg) translateZ(50px);
	background:
			repeating-linear-gradient(-90deg,
				#242424, #242424 1.125px
				/* lines */
				,
				#f0eae5 3px, #f0eae5 0px
				/* space between */
			) 50% no-repeat;
}

.front, .back {
	height: 100%;
	width: 100%;
}

.left {
	transform: rotateY(-90deg) translateZ(50px);
	left: 0;
}

.right {
	transform: rotateY(90deg) translateZ(50px);
	right: 0;
}

.left, .right {
	width: 100px;
	height: 100%;
	background:
			repeating-linear-gradient(-45deg,
				#242424, #242424 1.125px
				/* lines */
				,
				#f0eae5 3px, #f0eae5 0px
				/* space between */
			) 50% no-repeat;
}

.top {
	transform: rotateX(90deg) translateZ(47px);
	top: 0;
}

.bottom {
	transform: rotateX(-90deg) translateZ(47px);
	bottom: 0;
}

.top, .bottom {
	width: 100%;
	height: 15%;
	background:
			repeating-linear-gradient(-90deg,
				#242424, #242424 1.125px
				/* lines */
				,
				#f0eae5 3px, #f0eae5 0px
				/* space between */
			) 50% no-repeat;
}

.logo-and-info-container {
	display: flex;
	flex-basis: 25%;
	width: 95%;
	align-self: center;
	justify-content: space-around;
}

.logo-container {
	flex-basis: 55%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'IBM Plex Mono', monospace;
	text-align: center;
}

.rec-container {
	flex-basis: 60%;
	width: 90%;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rec {
	font-size: large;
	text-align: center;
}

.x-large {
	font-size: x-large;
}

.quotes {
	width: 10%;
}