<app-nav></app-nav>
<app-border>
	<app-page-title
	[title]="this.label"
	[tiles]="this.tiles"></app-page-title>
	<div class="education-container">
		<div #educationTile class="education-tile" [ngClass]="this.flipped ? 'backwards' : ''">
			<div class="back">
				<img src="assets/v2/img/te_group.jpg"/>
			</div>
			<div class="left"></div>
			<div class="right"></div>
			<div class="top"></div>
			<div class="bottom"></div>
			<div class="front">
				<div class="logo-and-info-container">
					<a href="https://www.techelevator.com/" class="logo-container">
						<img src="assets/v2/img/tech_elevator2.png">
					</a>
					<div class="info-container">
						<h3>Tech Elevator</h3>
						<h4 class="subject">Full Stack Software Engineering</h4>
						<p class="time">Winter 2019</p>
					</div>
				</div>
				<div class="rec-container">
					<div class="quotes">
						<img src="assets/v2/img/quotes2.png">
					</div>
					<p class="rec">
						Zach has no problem going the extra mile and beyond. I worked with Zach on a campground registry project using
						Java.
						The
						project demanded a lot of attention to small details, and it went smoothly because of Zach's skills and patience.
						With
						time to spare, we were able to add several extra functionalities just for the challenge. Most importantly, Zach is
						an
						effective communicator who values input from his teammates. Any team would be improved by Zach's talents.
					</p>
					<sub>- Classmate & Project Partner at Tech Elevator</sub>
				</div>
			</div>
		</div>

		<div #educationTile class="education-tile" [ngClass]="this.flipped ? 'backwards' : ''">
			<div class="back">
				<img src="assets/v2/img/osu_group.jpg"/>
			</div>
			<div class="left"></div>
			<div class="right"></div>
			<div class="top"></div>
			<div class="bottom"></div>
			<div class="front">
				<div class="logo-and-info-container">
					<a href="https://fisher.osu.edu/" class="logo-container">
						<img src="assets/v2/img/ohio-st.svg">
					</a>
					<div class="info-container">
						<h3>OSU - Fisher College of Business</h3>
						<h4 class="subject">Bachelor's degree Marketing</h4>
						<p class="time">2009 - 2013</p>
					</div>
				</div>
				<div class="rec-container">
					<div class="quotes">
						<img src="assets/v2/img/quotes2.png">
					</div>
					<p class="rec large">
						Zachary is a diligent thoughtful student. His maturity and academic focus are above par as he pursues his
						aspirations.
						Being a member of a selective program called the Business Scholars Program, Zachary is preparing to make an impact
						on
						the business community.
					</p>
					<sub>- Director of Business Scholars at OSU</sub>
				</div>
			</div>
		</div>
	</div>
	<button (click)="flip()">{{buttonText}}</button>
</app-border>