<app-nav></app-nav>
<app-border>
    <div class="content">
        <h1>ERROR: 404</h1>
        <h2 class="{{getCSSPrefix('subtitle')}}">This is not the page you are looking for...</h2>
        <img id="{{getCSSPrefix('content-image')}}" src="assets/v2/img/404.jpg"/>
        <h3 class="{{getCSSPrefix('message')}}">You have arrived at a page that no longer exists, never existed, or doesn't exist yet.</h3>
        <div class="{{getCSSPrefix('tile-container')}}">
            <app-tile *ngFor="let tile of tiles" [tile]=tile>
            </app-tile>
        </div>
    </div>
</app-border>
