<app-nav></app-nav>
<div class="home-wrapper">
	<app-border></app-border>
	<div class="{{getCSSPrefix('home-banner')}}">
		<div class="{{getCSSPrefix('name-and-title-container')}}">
			<h1 id="{{getCSSPrefix('name')}}" *ngIf="isPhone">Zach Walker</h1>
			<h3 id="{{getCSSPrefix('title')}}" *ngIf="isPhone">Software Engineer</h3>
		</div>
		<div class="{{getCSSPrefix('home-image-container')}}">
			<img class="{{getCSSPrefix('zach-image')}}" src="assets/v2/img/me_nb3.png" />
		</div>
		<div *ngIf="isPhone" class="divider"></div>
		<div class="{{getCSSPrefix('info')}}">
			<h1 id="{{getCSSPrefix('name')}}" *ngIf="!isPhone">Zach Walker</h1>
			<h3 id="{{getCSSPrefix('title')}}" *ngIf="!isPhone">Software Engineer</h3>
			<div class="{{getCSSPrefix('tile-container')}}">
				<app-tile *ngFor="let tile of tiles" [tile]=tile [smallLabels]="false"></app-tile>
			</div>
		</div>
	</div>
</div>
