.connect-content-container {
	z-index: 1;
	flex-basis: 70%;
	width: 95%;
	align-self: center;
	display: flex;
	margin-bottom: 3%;
	justify-content: center;
}

.connect-form-container {
	flex-basis: 40%;
	position: relative;
	background: #242424;
	border-radius: 15px;

	&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 20px;
			right: 20px;
			bottom: 0;
			border-radius: 15px;
			box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
			z-index: -1;
	}
}

.form-header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7%;
	background: #4d4d4f;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: 'IBM Plex Mono', monospace;
	color: #f0eae5;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	height: 93%;
	margin: 0 auto;
}

form textarea {
	height: 200px;
	resize: none;
}

form input, form textarea {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color .2s;
	font-family: 'IBM Plex Mono', monospace;

	&::placeholder {
		color: #666
	}

	&:focus {
		border-bottom-color: #ddd;
	}
}

.form-button {
	background: none;
	border: none;
	color: #ea1d6f;
	font-size: 1.25rem;
	cursor: pointer;
	outline: none;
	font-family: 'IBM Plex Mono', monospace;
	margin-top: 3%;

	&:hover {
		color: #b9134f;
	}
}

#captcha_element {
	display: flex;
	justify-content: center;
}

ng-hcaptcha {
	align-self: center;
}

.captcha-and-submit {
	display: flex;
	flex-direction: column;
	flex-basis: 35%;
	justify-content: center;
}

.social-icons {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-basis: 5%;
	margin-left: .5%;
}

.social-icons a {
	flex-basis: 10%;
	filter: drop-shadow(0 20px 40px rgba(0, 0, 0, .4));
	transition: ease-in-out 1s;
	display: block;
}

.spin {
		transform: rotateY(360deg) scale(1.5) translateY(-5px);
		z-index: 1;
}

.alert {
	text-align: center;
	background-color: #242424;
	margin: 0 auto;
	color: #d25252;
	font-size: smaller;
}

.alert-input {
	border-bottom: 1px solid #d25252 !important;
}

.flex-start {
	justify-content: flex-start;
}

.overlay {
	height: 93%;
	width: 100%;
	position: absolute;
	background-color: #242424bb;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f0eae5;
}

.success-overlay, .error-overlay {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	transition: 1s ease-in-out;
}

.success-overlay img, .error-overlay img {
	width: 10%;
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #dfc;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

button {
	background-color: #242424;
	border: 1px solid #adb0b0;
	border-radius: 8px;
	box-sizing: border-box;
	color: #f0eae5;
	cursor: pointer;
	display: inline-block;
	font-family: "IBM Plex Mono", sans-serif;
	font-size: small;
	line-height: 20px;
	padding: 0 5px 0 6px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	z-index: 2;
}

button:hover {
	background-color: #f7fafa;
	color: #242424;
}

button:focus {
	border-color: #008296;
	box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
	outline: 0;
}

.success-message-and-button {
	display: flex;
	flex-direction: column;
}

.success-message-and-button button {
	width: 40%;
	align-self: center;
}