<app-nav></app-nav>
<app-border>
	<app-page-title
	[title]="this.label"
	[tiles]="this.tiles"></app-page-title>
	<div class="about-container">
		<div class="about-img-container">
			<img src="assets/v2/img/zwalker_hs.jpg">
		</div>
		<div class="about-info-container">
			<div class="about-info">
				<h1>Zach Walker</h1>
				<h2>Full Stack Software Engineer with {{years}}+ years experience</h2>
				<!-- <p>Prior to pursuing my passion for software development in 2019, I was in a career in sales in various industries. I
					knew that I wanted something else and found myself
					often distracted by tinkering with the excel documents that we used to track our calls at the time to enable fellow
					sales people to be more effective. That's when I knew
					I had found something I would love to do every day. I changed careers after completing Tech Elevator's curriculum and
					I am still enamered with software engineering today.
				</p> -->
				<p>In 2019, I changed my life. I knew I wanted more than the sales career I had been leading prior and decided to pursue my passion for software engineering. 
					It meant adding risk to my life, but I knew this is the career I would truly love. I am beyond grateful for the opportunities that this has led to and for all of the great 
					people I have met, learned from, and became friends with.
				</p>
				<div>
					<h3>Some of the tech I have worked with includes:</h3>
					<h3>Ruby on Rails, Java, HTML, CSS, Angular, Vue.js, Javascript, Typescript, GOSU, Bash script, Rspec, Junit, Postgresql</h3>
				</div>				
				<p>I live in the Columbus, Ohio area with my wife, our Basset Hound, and our cat. My interests outside of programming
					are coffee, learning the guitar, Bourbon and Rye Whiskey,
					and Traveling with my wife.
				</p>
			</div>
		</div>
	</div>
</app-border>
