<app-nav></app-nav>
<app-border>
	<app-page-title
	[title]="this.label"
	[tiles]="this.tiles"></app-page-title>
	<div class="{{getCSSPrefix('about-container')}}">
		<div class="background" *ngIf="isPhone"></div>
		<div class="about-img-container" *ngIf="!isPhone">
			<img src="assets/v2/img/zwalker_hs.jpg">
		</div>
		<div class="{{getCSSPrefix('about-info-container')}}">
			<div class="{{getCSSPrefix('about-info')}}">
				<div>
					<p>{{message}}</p>
				</div>
				<div class="experience-and-tech">
					<h2>Full Stack Software Engineer <span *ngIf="years">with {{years}}+ years experience</span></h2>
					<div>
						<h4>Some of the tech I have worked with includes:</h4>
						<h3>Ruby on Rails, Java, HTML, CSS, Angular, Vue.js, Javascript, Typescript, GOSU, Bash, Rspec, Junit, Postgresql</h3>
					</div>
				</div>		
			</div>
		</div>
	</div>
</app-border>
