/* phone  */
.phone-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1%;
	cursor: pointer;
	flex-basis: 14%;
}

#phone-nav {
	font-size: x-large;
	font-family: 'IBM Plex Mono', monospace;
	background-color: #242424;
	color: #f0eae5;
	z-index: 1;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	height: 4%;
}

.phone-button-menu {
	position: absolute;
	z-index: 10;
	display: flex;
	width: 100%;
	background-color: #ffffff6e;
}

#phone-button-container {
	display: flex;
	justify-content: space-evenly;
	margin-right: 1%;
	flex-basis: 100%;
}

.phone-background-selector-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-basis: 100%;
}

.phone-button-group {
	height: 80%;
}

.phone-button-toggle {
	display: flex;
	align-items: center;
	font-size: x-small;
}

.phone-version-link {
	height: 100%;
	padding: 3px;
	border: solid 1.5px #FFF;
	font-size: x-small;
}

#phone-version-container {
	display: flex;
	align-items: center;
	height: 80%;
}
/* end phone */

/* phone landscape */
.phone-landscape-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1%;
	cursor: pointer;
	flex-basis: 7%;
}

#phone-landscape-nav {
	font-size: large;
	font-family: 'IBM Plex Mono', monospace;
	background-color: #242424;
	color: #f0eae5;
	z-index: 1;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	height: 6%;
}

.menu-button {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end phone landscape */

/* tablet */
.tablet-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1%;
	cursor: pointer;
	flex-basis: 9%;
}

#tablet-nav {
	font-size: 1.6rem;
	font-family: 'IBM Plex Mono', monospace;
	background-color: #242424;
	color: #f0eae5;
	z-index: 1;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	height: 4%;
}

#tablet-button-container {
	display: flex;
	justify-content: flex-end;
	margin-right: 1%;
	flex-basis: 70%;
}

.tablet-background-selector-container {
	display: flex;
	align-items: center;
	flex-basis: 100%;
	justify-content: space-around;
}
/* end tablet */

/* tablet landscape */
.tablet-landscape-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1%;
	cursor: pointer;
	flex-basis: 5%;
}

#tablet-landscape-nav {
	font-size: 1.6rem;
	font-family: 'IBM Plex Mono', monospace;
	background-color: #242424;
	color: #f0eae5;
	z-index: 1;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	height: 4%;
}
/* end tablet landscape */

#info {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

button {
	cursor: pointer;
	font-size: 50%;
	padding: 6px 14px;
	font-family: 'IBM Plex Mono', monospace;
	border: none;
	border-left: solid rgba(240, 234, 229, 0.1);
	background-color: #242424;
	color: #f0eae5;
}

#nav {
	font-size: x-large;
	font-family: 'IBM Plex Mono', monospace;
	background-color: #242424;
	color: #f0eae5;
	z-index: 1;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	height: 4%;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1%;
	cursor: pointer;
	flex-basis: 3%;
}

h1 {
	margin-top: 2%;
	z-index: 1;
}

h4 {
	z-index: 1;
	margin-top: 1%;
}

.small {
	font-size: small;
}

#button-container {
	display: flex;
	justify-content: flex-end;
	margin-right: 1%;
	flex-basis: 90%;
	max-width: 900px;
}

.background-selector-container {
	display: flex;
	align-items: center;
	flex-basis: 100%;
	justify-content: flex-end;
}

.background-selector-container mat-button-toggle-group,
.background-selector-container div {
	margin-left: 5px;
	margin-right: 5px;
}

.button-group {
	height: 80%;
}

.button-toggle {
	display: flex;
	align-items: center;
	font-size: small;
}

.version-link {
	height: 100%;
	padding: 7px;
	border: solid 1.5px #FFF;
}

#version-container {
	display: flex;
	align-items: center;
	height: 80%;
}