
<div class="main">
    <div #smallStars
    [@fadeInSmall]="shouldFadeInSmall"
    [@fadeOutSmall]="shouldFadeOutSmall"
    (@fadeOutSmall.done)="this.fadeInStars('small')"
    class='small-stars'>
    </div>
    <div #smallStars2
    [@fadeInSmall2]="shouldFadeInSmall2"
    [@fadeOutSmall2]="shouldFadeOutSmall2"
    (@fadeOutSmall2.done)="this.fadeInStars('small2')"
    class='small-stars'>
    </div>

    <div #mediumStars
    [@fadeInMedium]="shouldFadeInMedium"
    [@fadeOutMedium]="shouldFadeOutMedium"
    (@fadeOutMedium.done)="this.fadeInStars('medium')"
    class='medium-stars'></div>
    <div #mediumStars2
    [@fadeInMedium2]="shouldFadeInMedium2"
    [@fadeOutMedium2]="shouldFadeOutMedium2"
    (@fadeOutMedium2.done)="this.fadeInStars('medium2')"
    class='medium-stars'></div>

    <div #largeStars
    [@fadeInLarge]="shouldFadeInLarge"
    [@fadeOutLarge]="shouldFadeOutLarge"
    (@fadeOutLarge.done)="this.fadeInStars('large')"
    class='large-stars'>
    </div>
    <div #largeStars2
    [@fadeInLarge2]="shouldFadeInLarge2"
    [@fadeOutLarge2]="shouldFadeOutLarge2"
    (@fadeOutLarge2.done)="this.fadeInStars('large2')"
    class='large-stars'>
    </div>
</div>

    