* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	--mdc-dialog-subhead-color: #f0eae5;
	--mdc-dialog-supporting-text-color: #f0eae5;
	--mdc-dialog-container-color: #242424;
}

.mat-mdc-raised-button:not(:disabled) {
	background-color: #242424 !important;
	color: #f0eae5 !important;

	&:hover {
		filter: invert(10%);
	}
}

body {
	background-color: #f0eae5;
}

img {
	width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
